<template name="header">

<template name="header">
     <header>
         <h1 class="center-align">My Todo List!</h1>
     </header>
 <template name="form">
     <form class="add-new-task">
         <div class=" input-field">
            <input type="text" placeholder="Add a new task."/>  
        </div >
            <input type="text" placeholder="Add a new task." />
        </div>
         <div class="center-button">
        <button class="waves-effect waves-light btn">Submit</button>
            <button class="waves-effect waves-light btn">Submit</button>
         </div>
     </form>
 </template>
 
<template name="todos"> 
<template name="todos">
     <ul class="collection">
         {{#each todoList}}
        <li class="collec   tion-item {{#if this.complete}}completed{{/if}}">
        <li class="collection-item {{#if this.complete}}completed{{/if}}">
             {{this.name}}
            {{this.createdAt}}
             <div class="secondary-content">
                 {{> completeCheck this}}
                <a class="delete-tas"><i class="material-icons">delete</i></a>
                <a class="delete-task"><i class="material-icons">delete</i></a>
             </div>
         </li>
         {{/each}}
 </template>
 
 <template name="completeCheck">
    <ul class="collection">
         {{#unless this.complete}}
            <a class="complete-task"><i class="material-icons">done</i></a>  
            <a class="complete-task"><i class="material-icons">done</i></a> 
         {{else}}
             <a class="incomplete-task"><i class="material-icons">not_interested</i></a>
         {{/unless}}
    </ul>
</template
</template>